@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,700);
$font-family-base:Muli; //fonte dos textos
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,700);
$headings-font-family:Oswald; //fonte dos headings

$primary: #2F3C48; //cinza escuro
$info: #5C8F94; //verde militar mais claro
$danger: #9C270A; //vermelho ocre

$code-heading-background: #DEDEDC; //cinza claro
$code-text-color: #B6B6B6; //branco gelo