<section id="archive">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <h2 class="text-primary">Archive</h2>
                <table>
                    {% assign en_posts = site.posts | where: "lang", "en" %}
                    {% for post in en_posts %}
                        <tr>
                            <td>{{ post.date | date: "%b %d, %Y" }}</td>
                            <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td>
                            <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>