<section id="archive">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <h2 class="text-primary">Arquivo</h2>
                <table>
                    {% assign pt_br_posts = site.posts | where: "lang", "pt-br" %}
                    {% for post in pt_br_posts %}
                        <tr>
                            <td>{% include translated_date.html date=post.date format="%-d %b %Y" lang="pt-br" %}</td>
                            <td>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td>
                            <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>