<div class="social-links">
    <a href="mailto:{{ site.email }}">
        <i class="fa fa-envelope fa-2x"></i>
    </a>
    <a target="_blank" href="https://github.com/{{ site.github }}">
        <i class="fab fa-github fa-2x"></i>
    </a>
    <a target="_blank" href="https://twitter.com/{{ site.twitter }}">
        <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin }}">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a target="_blank" href="https://www.kaggle.com/{{ site.kaggle }}">
        <i class="fab fa-kaggle fa-2x"></i>
    </a>
</div>