#archive {
    a {
        text-decoration: none;
        border: none;
        &:hover {
            color: $info;
            text-decoration: underline;
        }
    }

    li {
        font-size: 18px;
    }
}